body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ededed;
}

button:hover {
  font-weight: 700;
  cursor: pointer;
}

button {
  background-color: #666666;
  color: #ededed;
  border: 1px solid black;
  border-radius: 5px;
}

header {
  width: 100%;
  display: grid;
  justify-content: center;
  border-bottom: 1px solid black;
  grid-template-columns: 15vw 374px 1fr 1fr 15vw;

  > a {
    text-decoration: none;
    color: #0075e8;
    font-size: 80px;
    grid-column: 2;
    justify-self: start;
  }

  > div {
    display: flex;
    justify-self: start;
    align-items: flex-end;
    grid-column: 3;
    padding-bottom: 5px;
    padding-left: 5px;

    > div > a {
      margin: 0 2px;
    }
    > button {
      width: 80px;
      margin-right: 2px;
    }
  }
}

main {
  width: 70vw;
  margin: 0 auto;
  min-height: 40vh;
}

.article_container {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.article_header {
  display: grid;
  grid-template-columns: 80px calc(100% - 390px) 200px 110px;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 50px;

  > p {
    border-right: 1px solid black;
    padding-left: 5px;
    margin: 0;
    font-size: xx-large;
  }

  > a {
    padding-left: 5px;
    margin: 0;
    font-size: xx-large;
    font-weight: 500;
    text-decoration: none;
    color: black;

    > p {
      border-right: 1px solid black;
      padding-left: 10px;
      margin: 0;
    }
  }
  >p:nth-child(1) {
    text-align: center;
  }
  
  > a:visited {
    color: #12192f;
  }

  > a:hover {
    font-weight: 700;
    text-decoration: underline;
  }

  > p:nth-last-of-type(1) {
    border: 0;
    font-size: medium;
  }

  > button {
    border: 0;
    border-right: 1px solid black;
    border-radius: 0;
    background: none;
    text-align: start;
    font-size: larger;
    color:#0075e8;
  }
}

.article_header_inner {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 80px calc(100% - 390px) 200px 110px;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  height: 50px;

  > p {
    border-right: 1px solid black;
    padding-left: 5px;
    margin: 0;
    font-size: xx-large;
  }
  >p:nth-child(1) {
    text-align: center;
  }
  > p:nth-child(3) {
    font-size: larger;
    color:#0075e8;
  }

  > p:nth-last-of-type(1) {
    border: 0;
    font-size: medium;
  }
}

.article_body {
  background-color: #FFFFFF;
  min-height: 100px;
  border-bottom: 1px solid black;
  white-space: pre-line;
  font-size: x-large;
  font-weight: 500;
  padding: 20px;
  min-height: 30vh;
}

.article_control {
  background-color: #FFFFFF;
  padding-bottom: 10px;
  padding-top: 5px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  > div {
    display: flex;
    gap: 5px;
  }
}

.writebtn {
  display: flex;
  padding-top: 5px;
  justify-content: flex-end;
}

.pagination {
  text-align: center;
  margin-top: 20px;

  > button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    color: black;
    font-size: 15px;
  }
  
  > button.active {
    color: blue;
    font-weight: 700;
  }
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 100px;

  .form {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input-field {
    padding: 5px;
  }
  
  .submit-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}

.article_make {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
  border-top: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;

  > input {
    font-size: x-large;
  }

  > textarea {
    min-height: 200px;
    resize: none;
    font-size: larger;
  }

  > div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 5px;
  }
}

.comment_main {
  width: 100%;
  min-height: 100px;
  background-color: #FFFFFF;

  > div {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 200px calc(100% - 350px) 50px 100px;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    margin-top: 10px;

    > p {
      margin: 0;
      font-size: x-large;
    }

    > p:nth-last-child(1) {
      font-size: medium;
    }
  }

  > div:nth-last-child(1) {
    border-bottom: 0px;
  }

  > p {
    margin: 0;
    font-size: x-large;
  }
}

.comment_write {
  background-color: #FFFFFF;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid black;

  > textarea {
    height: 75px;
    width: calc(100% - 80px);
    resize: none;
    font-size: x-large;
    font-weight: 500;
  }

  > button {
    height: 80px;
  }

  > p {
    margin: 0;
  }
}

.comment_modify {
  grid-column: 2 / 4;
  display: flex;
  width: 100%;
  gap: 5px;
  position: relative;

  > textarea {
    resize: none;
    width: calc(100% - 65px);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90px;
  }

  > div {
    display: flex;
    flex-flow: column;
    height: 100%;

    > button:nth-child(1) {
      position: absolute;
      height: 24px;
      width: 42.67px;
      right: 7.33px;
      top: 26px
    }

    > button:nth-child(2) {
      position: absolute;
      height: 24px;
      width: 42.67px;
      right: 7.33px;
      top: 50px
    }
  }
}

.userinfo {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 50px;
  width: 100%;
  border-top: 1px solid black;

  > p {
    border-right: 1px solid black;
    margin: 0;
    padding-left: 5px;
  }

  > p:nth-child(1) {
    border-left: 1px solid black;
  }

  > button {
    border: 0;
    border-right: 1px solid black;
    border-radius: 0;
  }
}

.end {
  border-top: 1px solid black;
}

.search_container {
  display: flex;
  gap: 5px;
  margin: 10px 0;
  > select {
    width: 70px;
  }
  > input {
    width: 300px;
  }
  > button {
    width: 50px;
  }
  > p {
    padding-left: 10px;
    font-size: large;
    font-weight: 500;;
    text-align: end;
    margin: 0;
  }
}