header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  position: relative;

  > a {
    text-decoration: none;
    color: black;
    font-size: 80px;
  }

  > div {
    position: absolute;
    right: 200px;
    top: 30px;

    > a {
      margin: 0 5px;
    }
  }
}

main {
  width: 80%;
  min-height: 500px;
  margin: 0 auto;

  .article_main {
    display: grid;
    grid-template-columns: 30px calc(100% - 310px) 200px 80px;

    > a:link {
      text-decoration: none;
      color: black;
    }

    > a:visited {
      color: red;
    }

    > a:hover {
      font-weight: 500;
      text-decoration: underline;
    }

    > p {
      border-right: 1px solid black;
    }

    > p:nth-last-of-type(1) {
      border: 0;
    }
  }
}

.article_header {
  display: grid;
  grid-template-columns: 50px calc(100% - 310px) 160px 100px;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;

  > p {
    border-right: 1px solid black;
    padding-left: 5px;
    margin: 0;
  }

  > a {
    padding-left: 5px;
    margin: 0;

    > p {
      border-right: 1px solid black;
      padding-left: 5px;
      margin: 0;
    }
  }

  > p:nth-last-of-type(1) {
    border: 0;
  }
}

.article_body {
  min-height: 500px;
  border-bottom: 1px solid black;
  white-space: pre-line;
}

.article_control {
  padding-bottom: 10px;
  padding-top: 5px;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
  > div {
    display: flex;
    gap: 5px;
  }
}

.writebtn {
  display: flex;
  padding-top: 5px;
  justify-content: flex-end;
}

.pagination {
  text-align: center;
  margin-top: 20px;

  > button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    padding: 0;
    color: black;
    font-size: 15px;
  }
  
  > button.active {
    color: blue;
    font-weight: 700;
  }
}

footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.input-field {
  padding: 5px;
}

.submit-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.article_make {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 10px;
  border-top: 1px solid black;
  padding-bottom: 10px;
  padding-top: 10px;

  > input {
    font-size: large;
  }

  > textarea {
    min-height: 500px;
    resize: none;
  }

  > div {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 5px;
  }
}

.comment_main {
  width: 100%;
  min-height: 100px;

  > div {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 200px calc(100% - 350px) 50px 100px;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
  }

  > div:nth-last-child(1) {
    border-bottom: 0px;
  }

  > p {
    margin: 0;
  }
}

.comment_write {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid black;

  > textarea {
    height: 75px;
    width: calc(100% - 80px);
    resize: none;
  }

  > button {
    height: 80px;
  }

  > p {
    margin: 0;
  }
}

.comment_modify {
  grid-column: 2 / 4;
  display: flex;
  width: 100%;
  gap: 5px;
  position: relative;

  > textarea {
    resize: none;
    width: calc(100% - 65px);
    margin-top: 5px;
    margin-bottom: 5px;
    height: 90px;
  }

  > div {
    display: flex;
    flex-flow: column;
    height: 100%;

    > button:nth-child(1) {
      position: absolute;
      height: 24px;
      width: 42.67px;
      right: 7.33px;
      top: 26px
    }

    > button:nth-child(2) {
      position: absolute;
      height: 24px;
      width: 42.67px;
      right: 7.33px;
      top: 50px
    }
  }
}
